@use "variables" as *;

* { box-sizing: border-box; }
html:focus-within { scroll-behavior: smooth; }

html,
body {
  scrollbar-width: none;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  color: $color-text;
  background-color: $color-bg;
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

.body {
  padding: 1rem;
}

.wrapper {
  width: 530px;
}

button, input {
  font: inherit;
  border: none;
  outline: none;
}

a {
  color: $color-primary;
  text-decoration: none;
}

.container { 
  max-width: 960px; 
  margin: 0 auto; 
  padding-bottom: 50px;
}