// === Global Variables (override via `@use "./variables" with (...)`) ===
$pref: brwl;

$color-primary: #1D4ED8 !default;
$color-secondary: #6c757d !default;
$color-text: #212529 !default;
$color-text-light: #ffffff !default;
$color-bg: #ffffff !default;
$color-border: #CBD5E1 !default;

$radius: 6px !default;
$radius-max: 999px;
$padding: 0.65em 1em !default;
$font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-size: 16px !default;
$font-size-small: 10px;
$transition: 0.2s ease !default;

$input-background: #F8FAFC !default;
$input-text-color: #506465 !default;
$input-focus-shadow: 0 0 0 3px rgba(0, 123, 255, 0.15);

$input-group-padding: 19.5px !default;
$input-group-padding-width: 103.5px !default;
$input-group-btn-offset: 3.5px !default;
$input-group-btn-width: 90px !default;

$dropdown-font-size: 14px !default;
$dropdown-max-height: 200px !default;
$dropdown-text-top: 11px;

$group-list-max-height: 456px !default;
$group-list-max-height-inner: 350px !default;

$group-list-heading-height: 40px !default;

$list-url-icon-bg-color: #F1F5F9 !default;
$list-url-color: #64748B !default;

$header-title-font-size: 22px;

$footer-url-color: #64748b !default;
$footer-url-font-size: 13px;
$footer-text-color: #94a3b8 !default;
$footer-margin: 4px;
$footer-img-height: 24px;

$select-text-color: #444444 !default;
$select-padding: 4px 8px;

$icon-text-color: #64748B;
$icon-size: 16px;
$icon-text-color-hover: #DC2626;
$icon-gray-trash: url("data:image/svg+xml;utf8,<svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M2 4.00016H14M12.6667 4.00016V13.3335C12.6667 14.0002 12 14.6668 11.3333 14.6668H4.66667C4 14.6668 3.33333 14.0002 3.33333 13.3335V4.00016M5.33333 4.00016V2.66683C5.33333 2.00016 6 1.3335 6.66667 1.3335H9.33333C10 1.3335 10.6667 2.00016 10.6667 2.66683V4.00016M6.66667 7.3335V11.3335M9.33333 7.3335V11.3335' stroke='%23#{$icon-text-color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
$icon-red-trash: url("data:image/svg+xml;utf8,<svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M2 4.00016H14M12.6667 4.00016V13.3335C12.6667 14.0002 12 14.6668 11.3333 14.6668H4.66667C4 14.6668 3.33333 14.0002 3.33333 13.3335V4.00016M5.33333 4.00016V2.66683C5.33333 2.00016 6 1.3335 6.66667 1.3335H9.33333C10 1.3335 10.6667 2.00016 10.6667 2.66683V4.00016M6.66667 7.3335V11.3335M9.33333 7.3335V11.3335' stroke='%23#{$icon-text-color-hover}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
$icon-gray-copy: url("data:image/svg+xml;utf8,<svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><g clip-path='url(%23clip0_1266_4056)'><path d='M2.66634 10.6668C1.93301 10.6668 1.33301 10.0668 1.33301 9.3335V2.66683C1.33301 1.9335 1.93301 1.3335 2.66634 1.3335H9.33301C10.0663 1.3335 10.6663 1.9335 10.6663 2.66683M6.66634 5.3335H13.333C14.0694 5.3335 14.6663 5.93045 14.6663 6.66683V13.3335C14.6663 14.0699 14.0694 14.6668 13.333 14.6668H6.66634C5.92996 14.6668 5.33301 14.0699 5.33301 13.3335V6.66683C5.33301 5.93045 5.92996 5.3335 6.66634 5.3335Z' stroke='%23#{$icon-text-color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></g><defs><clipPath id='clip0_1266_4056'><rect width='16' height='16' fill='white'/></clipPath></defs></svg>");
$icon-gray-eraser: url("data:image/svg+xml;utf8,<svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M8.66647 14.0001L14.1998 8.4668C14.8665 7.8668 14.8665 6.8668 14.1998 6.20013L10.4665 2.4668C9.86647 1.80013 8.86647 1.80013 8.1998 2.4668L1.7998 8.8668C1.13314 9.4668 1.13314 10.4668 1.7998 11.1335L4.66647 14.0001L14.6663 14.0002M3.33301 7.3335L9.33301 13.3335' stroke='%23#{$icon-text-color}' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/></svg>");
$icon-gray-close: url("data:image/svg+xml;utf8,<svg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'><g opacity='0.7'><path d='M12 4L4 12M4 4L12 12' stroke='%23506466' stroke-width='1.33' stroke-linecap='round' stroke-linejoin='round'/></g></svg>");

$sidepanel-text-color: #506466;
$sidepanel-text-color-dark: #1e293b;
$sidepanel-bg-dark: #334155;

$main-border: 1px solid #e4e4e7;
$hover-bg-color: #e2e8f0;
$big-shadow: 0 25px 12px #00000040;
$main-gradient: linear-gradient(91.29deg, #fff0ee, #d8eaff);

$gap-small: 4px;
$gap-big: 8px;
$gap-h: $gap-small $gap-big;
$gap-v: $gap-big $gap-small;

$sidepanel-min-width: 220px;
$sidepanel-max-width: 250px;
$sidepanel-max-height: 250px;
$sidepanel-bg-color: white;

$sidepanel-slider-height: 20px;

$select-border: 1px solid #FFFFFF1A;
$select-shadow: 0px 0px 2px 0px rgba(0, 5, 69, 0.28);
$select-height: 28px;
$select-max-width: 88px;
$select-margin-left: 8px;

$tooltip-shift: 5px;

