// === Global Variables (override via `@use "./variables" with (...)`) ===
$color-primary: #1D4ED8 !default;
$color-secondary: #6c757d !default;
$color-bg: #ffffff !default;
$color-border: #CBD5E1 !default;
$color-text: #212529 !default;
$color-text-light: #ffffff !default;

$radius: 6px !default;
$padding: 0.65em 1em !default;
$font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell, "Noto Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-size: 16px !default;
$transition: 0.2s ease !default;

$input-background: #F8FAFC !default;
$input-text-color: #506465 !default;

$input-group-padding: 19.5px !default;
$input-group-padding-width: 103.5px !default;
$input-group-btn-offset: 3.5px !default;
$input-group-btn-width: 90px !default;

$dropdown-font-size: 14px !default;
$dropdown-max-height: 200px !default;
$dropdown-text-top: 11px;

$group-list-max-height: 456px !default;
$group-list-max-height-inner: 350px !default;

$group-list-heading-height: 40px !default;

$list-url-icon-bg-color: #F1F5F9 !default;
$list-url-color: #64748B !default;

$footer-url-color: #64748b !default;
$footer-url-font-size: 13px;
$footer-text-color: #94a3b8 !default;
$footer-margin: 4px;
$footer-big-logo-width: 133px;
$footer-small-logo-width: 111px;

$select-text-color: #444444 !default;
$select-padding: 4px 8px;
$select-border: 1px solid #FFFFFF1A;
$select-shadow: 0px 0px 2px 0px rgba(0, 5, 69, 0.28);
$select-height: 28px;
$select-max-width: 88px;
$select-margin-left: 8px;

$tooltip-shift: 5px;