// === Global Variables (override via `@use "./variables" with (...)`) ===
$color-primary: #1d4ed8 !default;
$color-secondary: #6c757d !default;
$color-bg: #ffffff !default;
$color-border: #cbd5e1 !default;
$color-text: #212529 !default;
$color-text-light: #ffffff !default;

$radius: 6px !default;
$padding: 0.65em 1em !default;
$font-family: system-ui, -apple-system, "Segoe UI", Roboto, Ubuntu, Cantarell,
  "Noto Sans", "Helvetica Neue", Arial, sans-serif !default;
$font-size: 16px !default;
$transition: 0.2s ease !default;

$input-background: #f8fafc !default;
$input-text-color: #506465 !default;

$input-group-padding: 18px !default;
$input-group-btn-offset: 3.5px !default;
$input-group-btn-width: 90px !default;

$dropdown-font-size: 14px !default;
$dropdown-max-height: 200px !default;
$dropdown-text-top: 11px;

$group-list-max-height: 350px !default;

$list-padding: 12px 10px !default;
$list-url-icon-bg-color: #f1f5f9 !default;
$list-url-color: #64748b !default;
$list-link-width-and-height: 45px !default;
$list-link-radius: 10px !default;
$list-title-font-weight: 500 !default;
$list-content-width: 87% !default;

$header-padding: 0.95em !default;

$footer-padding-top: 12px !default;
$footer-img-width: 133px !default;
$footer-text-color: #94a3b8 !default;
$footer-link-color: #64748b !default;
$footer-font-size: 13px !default;
