// Configure variables by uncommenting lines below:
// @use "./variables" with (
//   $color-primary: #ff4757,
//   $radius: 10px
// );

// Or just load defaults:
@use "variables";

@use "base";

// Components

@use "components/list";
@use "components/input";
@use "components/button";
@use "components/dropdown";
@use "components/group";
@use "components/tabs";
@use "components/tooltip";
@use "components/header";
@use "components/footer";