@use "../../scss/variables" as *;

.#{$prefix}-chip {
  display: inline-flex;
  align-items: center;
  gap: 5px;
  font-size: $font-size-smaller;
  padding: $chip-padding;
  font-weight: $chip-font-weight;

  border-radius: $radius-max;
  border: 0;
  cursor: default;

  &-ok {
    background: $color-ok-soft;
    color: $color-ok;
  }

  &-warn {
    background: $color-warn-soft;
    color: $color-warn;
  }

  &-err {
    background: $color-err-soft;
    color: $color-err;
  }

  &-primary {
    background: $color-primary-soft;
    color: $color-primary;
  }
}
