@use "../../scss/variables" as *;
@use "sass:color";

.extension-icon {
  
  &__copy-16x16 {
    background-color: transparent;
    background-image: $icon-gray-copy-16x16;
    background-repeat: no-repeat;
    background-size: $icon-size $icon-size; 
    width: $icon-size;
    height: $icon-size;   
    cursor: pointer;
  }

  &__trash-16x16 {
    background-color: transparent;
    background-image: $icon-gray-trash-16x16;
    background-repeat: no-repeat;
    background-size: $icon-size $icon-size; 
    width: $icon-size;
    height: $icon-size;    
    cursor: pointer; 

    &:hover {
      background-image: $icon-red-trash-16x16;
    }
  }

  &__eraser-16x16 {
    background-color: transparent;
    background-image: $icon-gray-eraser-16x16;
    background-repeat: no-repeat;
    background-size: $icon-size $icon-size; 
    width: $icon-size;
    height: $icon-size;  
    cursor: pointer;   
  }

}
