@use "../../scss/variables" as *;
@use "sass:color";

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 12px;

  &__img {
    width: 133px;
  }

  &__text {
    color: $footer-text-color;
    font-size: 13px;
    white-space: nowrap;
  }

  &__link {
    color: $footer-url-color;
    text-decoration: underline;
  }  

  &__content {
    margin-left: 6px;
  }


  &__img-mini {
    width: 111px;
    height: 20px;
  }

  &__logo {
    display: flex;
    align-items: center;

    &__text {
      margin-left: 4px;
      margin-right: 8px;
    }
  }
}
