@use "../../scss/variables" as *;
@use "sass:color";

.#{$pref}-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $padding;

  &__img {
    height: $footer-img-height;
    margin-top: $footer-margin;
  }

  &__text {
    color: $footer-text-color;
    font-size: $footer-url-font-size;
    white-space: nowrap;
  }

  &__text-link {
    color: $footer-url-color;
    text-decoration: underline;
  }  

  &__logo {
    display: flex;
    align-items: center;
  }

  &__logo-icon{
    width: $font-size;
    height: $font-size;
  }

  &__logo-text{
    margin: $footer-margin;
  }
}
