@use "../../scss/variables" as * ;

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: $footer-padding-top;

  &__img {
     width: $footer-img-width;
  }

  &__text {
    color: $footer-text-color;
    font-size: $footer-font-size;
  }

  &__link {
    color: $footer-link-color;
    &:hover {
      text-decoration: underline;
    }
  }
}