@use "../../scss/variables" as * ;

.group {
  display: flex;
  align-items: stretch;

  &__input {
    display: flex;
    border-radius: $radius 0 0 $radius;
    border-right: none;
  }

  button {
    border-radius: 0 $radius $radius 0;
  }

  &__dropdown {
    display: flex;
  }
}