@use "sass:color";
@use "../../scss/variables" as *;

.#{$prefix}-header {
  width: 100%;
  &__background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: $radius;
    padding: $padding;
    background: $main-gradient;
  }
  
  &__title{
    font-size: $header-title-font-size;
    color: $color-text;
  }

  &__text{
    color: $color-secondary;
  }

  &__subtitle{
    color: $color-text;
    margin-right: $gap-small * 1.5;
    align-self: center;
  }
  
  &__vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
