@use "sass:color";
@use "../../scss/variables" as *;

.header {
  width: 100%;
  &__background {
    display: flex;
    justify-content: center;
    border-radius: $radius;
    padding: $padding;
    background: linear-gradient(91.29deg, #FFF0EE 0%, #D8EAFF 100%);
  }
  
  &__title{
    font-size: 22px;
    color: $color-text;
  }

  &__text{
    color: $color-secondary;
  }

  &__subtitle{
    color: $color-text;
    margin-right: 6px;
    align-self: center;
  }
  
  &__vertical{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
