@use "sass:color";
@use "../../scss/variables" as *;

.header {
  width: 100%;
  &__background {
    display: flex;
    justify-content: center;
    border-radius: $radius;
    padding: $header-padding;
    background: linear-gradient(91.29deg, #fff0ee 0%, #d8eaff 100%);
  }
}
