@use "sass:color";
@use "../../scss/variables" as * ;

.#{$prefix}-list {
  list-style: none;
  border-radius: $radius;
  transition: background-color $transition;
  display: flex;
  align-items: center;
  padding: 10px 12px;
  justify-content: space-between;
  border: 1px solid $color-border;

  &__title, &__url {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__title {
    color: $color-primary;
    font-size: $font-size;
    font-weight: 500;
  }

  &__content { 
    width: 87%; 
  } 

  &__url {
    color: #64748B;
    font-size: calc($font-size - 4px);
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $list-url-icon-bg-color;
    min-width: 45px;
    min-height: 45px;
    img {
      width: 40%;
      height: 40%;
    }
  }
}