@use "sass:color";
@use "../../scss/variables" as *;

.list {
  list-style: none;
  border-radius: $radius;
  transition: background-color $transition;
  display: flex;
  align-items: center;
  padding: $list-padding;
  justify-content: space-between;
  border: 1px solid $color-border;

  &__title,
  &__url {
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__content {
    width: $list-content-width;
  }

  &__title {
    color: $color-primary;
    font-size: $font-size;
    font-weight: $list-title-font-weight;
  }

  &__url {
    color: #64748b;
    font-size: calc($font-size - 4px);
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: $list-link-radius;
    background-color: $list-url-icon-bg-color;
    min-width: $list-link-width-and-height;
    min-height: $list-link-width-and-height;
    img {
      width: 40%;
      height: 40%;
    }
  }
}
