@use "sass:color";
@use "../../scss/variables" as * ;

.list {
  list-style: none;
  border-radius: $radius;
  transition: background-color $transition;
  display: flex;
  align-items: center;
  padding: 12px 10px;
  justify-content: space-between;
  border: 1px solid $color-border;

  &__title, &__url {
    margin: 0;
    padding: 0;
  }

  &__title {
    color: $color-primary;
    font-size: $font-size;
    font-weight: 500;
  }

  &__url {
    color: #64748B;
    font-size: calc($font-size - 4px);
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: $list-url-icon-bg-color;
    width: 45px;
    height: 45px;
    img {
      width: 40%;
      height: 40%;
    }
  }
}