// Tooltip
@use "../../scss/variables" as *;

[data-tooltip] {
    box-sizing: border-box;

    & *,
    & *::before,
    & *::after {
        box-sizing: inherit;
    }

    position: relative;

    // Content
    &:after {
        content: attr(data-tooltip);
        position: absolute;
        white-space: nowrap;
        background: rgba(97, 97, 97, 0);
        border-radius: 2px;
        color: #fff;
        padding: $oco-tooltip-padding;
        z-index: 98;
        font-size: $oco-tooltip-font-size;
        line-height: $oco-tooltip-font-size;
        font-weight: 400;
        text-transform: none;
        visibility: hidden;
        transition: all $oco-transition-duration ease-in;
        pointer-events: none;
    }

    &:hover:after {
        visibility: visible;
        background: rgba(97, 97, 97, .9);
    }

    // Top
    &.#{$prefix}-oco-tooltip--top {
        &:after {
            bottom: 100%;
            left: 50%;
            transform: translate(-50%, 0);
        }

        &:hover:after {
            transform: translate(-50%, -$oco-tooltip-margin);
        }
    }

    // Right
    &.#{$prefix}-oco-tooltip--right {
        &:after {
            bottom: 50%;
            left: 100%;
            transform: translate(0, 50%);
        }

        &:hover:after {
            transform: translate($oco-tooltip-margin, 50%);
        }
    }

    // Bottom
    &.#{$prefix}-oco-tooltip--bottom {
        &:after {
            top: 100%;
            left: 50%;
            transform: translate(-50%, 0);
        }

        &:hover:after {
            transform: translate(-50%, $oco-tooltip-margin);
        }
    }

    // Left
    &.#{$prefix}-oco-tooltip--left {
        &:after {
            bottom: 50%;
            right: 100%;
            transform: translate(0, 50%);
        }

        &:hover:after {
            transform: translate(-$oco-tooltip-margin, 50%);
        }
    }
}
