@use "sass:color";
@use "../../scss/variables" as * ;

.#{$pref}-select {
  height: $select-height;
  width: fit-content;
  max-width: $select-max-width;
  border-radius: $radius;
  padding: $select-padding;
  margin-left: $select-margin-left;
  color: $select-text-color;
  background-color: $color-text-light;
  border: $select-border;
  box-shadow: $select-shadow;
}