@use "sass:color";
@use "../../scss/variables" as * ;

select {
  height: 28px;
  width: fit-content;
  max-width: 88px;
  border-radius: $radius;
  padding: $select-padding;
  margin-left: 8px;
  color: $select-text-color;
  background-color: white;
  border: 1px solid #FFFFFF1A;
  box-shadow: 0px 0px 2px 0px rgba(0, 5, 69, 0.28);
}


