@use "../../scss/variables" as *;
@use "sass:color";

.#{$pref}-sidepanel {
  display: flex;
  flex-direction: column;
  min-width: $sidepanel-min-width;
  max-width: $sidepanel-max-width;
  width: fit-content;
  max-height: $sidepanel-max-height;
  border: $main-border;
  padding: 0;
  border-radius: $radius * 2;
  background: $sidepanel-bg-color;
  box-shadow: $big-shadow;
  z-index: 9000;
  font-family: $font-family;
  font-weight: 600;

  &__slider{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: $font-size;
    border-bottom: $main-border;
    padding: $gap-small;
    color: $sidepanel-text-color;
    user-select: none;
    cursor: move;  
  }

  &__control-block {
    border-top: $main-border;
    border-bottom-left-radius: $radius * 2;
    border-bottom-right-radius: $radius * 2;
    padding: $gap-small;
    display: flex;
    align-items: center;    
  }

  &__control-block-mini {
    border-top: $main-border;
    border-bottom-left-radius: $radius * 2;
    border-bottom-right-radius: $radius * 2;
    padding: $gap-small 0;
    display: flex;
    align-items: center;  
    background: $main-gradient;   
  }  

  &__control-elem{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    font-size: $font-size-small;
    border-radius: $radius-max;
    border: $main-border;
    margin: $gap-small;
    padding: $gap-h;
    cursor: pointer;
    line-height: $font-size;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none; 
    
    &--on{
      color: $color-text-light;
      background: $sidepanel-bg-dark;
    }

    &--off{
      color: $sidepanel-text-color-dark;
      background: $sidepanel-bg-color;
    }
  }
}
