@use "sass:color";
@use "../../scss/variables" as *;

.#{$prefix}-tabs {
  --tab-gap: 0.5rem;
  margin-top: 1rem;

  &__label {
    padding: 0.6em 1em;
    cursor: pointer;
    color: $color-secondary;
    border-bottom: 2px solid transparent;
    border-radius: $radius $radius 0 0;
    transition: all $transition;

    &:hover { color: color.scale($color-primary, $lightness: -5%); }
  }

  &__labels {
    display: flex;
    gap: var(--tab-gap);
    border-bottom: 1px solid $color-border;
  }

  &__content {
    border: 1px solid $color-border;
    border-top: none;
    border-radius: 0 0 $radius $radius;
    padding: 1rem;
  }

  &__panel {
    display: none;
  }
}

.#{$prefix}-tabs [type="radio"] {
  position: absolute;
  opacity: 0;
}


@for $i from 1 through 6 {
  #tab#{$i}:checked ~ .#{$prefix}-tabs__labels label[for="tab#{$i}"] {
    color: $color-primary;
    border-color: $color-primary;
  }
  #tab#{$i}:checked ~ .#{$prefix}-tabs__panels .#{$prefix}-tabs__panel:nth-child(#{$i}) {
    display: block;
  }
}

