@use "../../scss/variables" as *;

.#{$prefix}-tooltip {
  position: relative;
  display: flex;
  width: fit-content;
}

.#{$prefix}-tooltip {
  &__text {
    visibility: hidden;
    background-color: black;
    color: $color-text-light;
    text-align: center;
    border-radius: $radius;
    padding: 0px $tooltip-shift;
    bottom: $tooltip-shift;
    left: 50%;
    text-wrap: nowrap;
    transform: translateX(-50%) translateY(calc(-100% + 0.3em));
    position: absolute;
    width: max-content;
    overflow-wrap: anywhere;
    z-index: 1;

    &::after {
        content: "";
        position: absolute;
        top: 100%; 
        left: 50%;    
        transform: translateX(-50%);
        border-width: $tooltip-shift;  
        border-style: solid;
        border-color: black transparent transparent transparent;
      }
  }

  &:hover {
    .#{$prefix}-tooltip__text {
      visibility: visible;
    }
  }
}
